doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
    link(rel='stylesheet', href='/css/vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/flat-ui.css')
      
    block js

  body
    block content

  script('/js/vendor/jquery.min.js')
  script('/js/flat-ui.min.js')
    
